@font-face {
  font-family: 'Blender Pro Bold';
  src: url("./fonts/BLENDER-PRO-BOLD.OTF"); }

@font-face {
  font-family: 'Lato Light';
  src: url("./fonts/LATO-LIGHT.TTF"); }

@font-face {
  font-family: 'Lato Regular';
  src: url("./fonts/LATO-REGULAR.TTF"); }

@font-face {
  font-family: 'Montserrat Light';
  src: url("./fonts/Montserrat-Light.ttf"); }

@font-face {
  font-family: 'Montserrat Medium';
  src: url("./fonts/MONTSERRAT-MEDIUM_0.TTF"); }

@font-face {
  font-family: 'Montserrat Regular';
  src: url("./fonts/MONTSERRAT-REGULAR_1.TTF"); }

.blender-pro-bold {
  font-family: 'Blender Pro Bold' !important; }

.lato-light {
  font-family: 'Lato Light' !important; }

.lato-regular {
  font-family: 'Lato Regular' !important; }

.montserrat-light {
  font-family: 'Montserrat Light' !important; }

.montserrat-medium {
  font-family: 'Montserrat Medium' !important; }

.montserrat-regular {
  font-family: 'Montserrat Regular' !important; }

.text-blue {
  color: #21334A !important; }

.text-blue-dark {
  color: #0D3049 !important; }

.text-text-dark {
  color: #1A1A1A !important; }

.text-text {
  color: #000000 !important; }

.text-grey {
  color: #333333 !important; }

.text-linkedin {
  color: #0476BD !important; }

.text-blue-light-2 {
  color: #0D2F49 !important; }

.o-50 {
  opacity: 0.5; }

.main-slider-title {
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 10px; }
  @media (min-width: 768px) {
    .main-slider-title {
      font-size: 80px; } }

.btn {
  font-weight: 300;
  font-size: 18px; }
  .btn.btn-main-slider {
    width: 63% !important; }
    @media (min-width: 768px) {
      .btn.btn-main-slider {
        width: 185px !important; } }
    .btn.btn-main-slider.btn-get-started {
      width: 83% !important;
      height: 75px;
      font-size: 28px; }
      @media (min-width: 768px) {
        .btn.btn-main-slider.btn-get-started {
          width: 200px !important;
          height: initial;
          font-size: initial; } }
  .btn.btn-warning {
    background-color: #F1CB3B; }

.section-title {
  color: #0D3049;
  font-size: 30px;
  font-weight: bold; }
  .section-title.mini {
    font-size: 30px; }

.section-text {
  color: #333333;
  font-size: 15px; }
  @media (min-width: 768px) {
    .section-text {
      font-size: 15px; } }

.bg-light-custom {
  background-color: #f2f2f2 !important; }

.news-mini {
  font-size: 14px; }

.navbar {
  transition: all 0.1s ease-out; }
  .navbar .navbar-brand img {
    height: 36px; }
  .navbar .logo {
    display: block; }
  .navbar .logo_toggle {
    display: none; }
  .navbar.affix {
    background-color: #ffffff; }
    .navbar.affix .logo {
      display: none; }
    .navbar.affix .logo_toggle {
      display: block; }
  .navbar .navbar-nav li a {
    font-weight: 600;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-transform: uppercase; }
  .navbar .navbar-nav li:first-child {
    padding-top: 1.5rem; }

.news-wrapper {
  padding: 35px !important; }

.news-text {
  font-family: 'Lato Light';
  font-size: 22px; }
  .news-text.mini {
    font-size: 16px; }

.linkedin a,
.twitter a,
.email a,
.facebook a {
  margin-left: 20px; }
  .linkedin a img,
  .twitter a img,
  .email a img,
  .facebook a img {
    width: 30px; }

.masthead {
  height: 100vh;
  padding-top: 0px;
  padding-bottom: 0px;
  background: no-repeat center center scroll;
  background-size: cover; }
  .masthead.masthead-part {
    height: 60vh; }
    @media (min-width: 768px) {
      .masthead.masthead-part {
        height: 100vh; } }
  .masthead .masthead-bg {
    width: 100%;
    color: #ffffff; }

.carousel-item.h100vh300 {
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.carousel-indicators li {
  width: 16px !important;
  height: 16px !important;
  border-radius: 100%; }

.carousel-indicators.blue li {
  background-color: #9bcbed; }
  .carousel-indicators.blue li.active {
    background-color: #0D3049; }

.page-hero-title {
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: normal; }
  @media (min-width: 768px) {
    .page-hero-title {
      font-size: 80px; } }

.navbar-toggler {
  border: none !important; }

.page-section-title,
.partner-name,
.partner-position,
.partner-description {
  font-weight: bold;
  color: #0D3049;
  font-size: 40px; }

.partners-indicators {
  top: 320px;
  bottom: auto !important; }

.partner-wrapper {
  padding: 30px 20px;
  background-color: #F3F3F3;
  border-radius: 10px; }
  .partner-wrapper .partner-name {
    font-size: 18px; }
    .partner-wrapper .partner-name + .partner-position {
      font-weight: normal;
      font-size: 12px;
      text-transform: uppercase;
      font-style: italic; }
      .partner-wrapper .partner-name + .partner-position + .partner-description {
        font-weight: normal;
        font-size: 16px;
        color: #000000; }

.mt-70 {
  margin-top: 70px; }

.ml-13-5 {
  margin-left: 13.5%; }

.mr-13-5 {
  margin-left: 83.5%; }

.arrow-up {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #F3F3F3;
  border-radius: 5px; }

.partner-img {
  transition: all .5s ease-out;
  filter: grayscale(100%); }
  .partner-img:hover, .partner-img.active {
    filter: grayscale(0%); }

@media (min-width: 768px) {
  .container {
    max-width: 962px !important; } }

@media (min-width: 992px) {
  .container {
    max-width: 1170px !important; } }

@media (min-width: 1200px) {
  .container {
    max-width: 1440px !important; } }

@media (min-width: 1470px) {
  .container {
    max-width: 1600px !important; } }

.page-wrapper-up {
  background-color: #ffffff; }
  @media (min-width: 768px) {
    .page-wrapper-up {
      top: -150px; } }

footer {
  background-color: #052D47; }

.footer-menu {
  background-color: transparent !important;
  font-family: 'Montserrat Light';
  color: #ffffff !important;
  font-size: 13px !important;
  border: none !important;
  padding-left: 0.1rem !important;
  padding-right: 0.1rem !important; }
  .footer-menu:first-child {
    font-weight: bold;
    font-family: 'Montserrat Medium'; }

.page-feature-title {
  font-size: 16px;
  color: #0D3049; }

.page-feature-text {
  font-family: 'Lato Light';
  font-size: 16px;
  color: #000000; }

.nav-tabs .nav-item {
  margin-bottom: 0px !important;
  font-family: 'Montserrat Medium'; }
  .nav-tabs .nav-item.nav-item-country {
    height: 37px;
    padding: 0.5rem;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border: 1px solid #333333;
    opacity: 0.5; }
    .nav-tabs .nav-item.nav-item-country.active {
      border-color: transparent !important;
      background-color: #0D3049;
      color: #ffffff !important;
      opacity: 1; }
    @media (min-width: 480px) {
      .nav-tabs .nav-item.nav-item-country {
        width: 80px;
        text-align: center; } }

.nav-tabs .nav-link {
  color: #333333; }
  .nav-tabs .nav-link.active {
    border: none;
    color: #0D3049 !important;
    border-bottom: 6px solid #F1CB3B !important; }

.rights {
  color: #ffffff;
  font-size: 18px;
  font-family: 'Lato Light'; }
