@font-face {
  font-family: 'Blender Pro Bold';
  src: url('./fonts/BLENDER-PRO-BOLD.OTF');
}
@font-face {
  font-family: 'Lato Light';
  src: url('./fonts/LATO-LIGHT.TTF');
}
@font-face {
  font-family: 'Lato Regular';
  src: url('./fonts/LATO-REGULAR.TTF');
}
@font-face {
  font-family: 'Montserrat Light';
  src: url('./fonts/Montserrat-Light.ttf');
}
@font-face {
  font-family: 'Montserrat Medium';
  src: url('./fonts/MONTSERRAT-MEDIUM_0.TTF');
}
@font-face {
  font-family: 'Montserrat Regular';
  src: url('./fonts/MONTSERRAT-REGULAR_1.TTF');
}

.blender-pro-bold {
  font-family: 'Blender Pro Bold' !important;
}

.lato-light {
  font-family: 'Lato Light' !important;
}

.lato-regular {
  font-family: 'Lato Regular' !important;
}

.montserrat-light {
  font-family: 'Montserrat Light' !important;
}

.montserrat-medium {
  font-family: 'Montserrat Medium' !important;
}

.montserrat-regular {
  font-family: 'Montserrat Regular' !important;
}
