// Colors
$blue: #21334A !default;
$blue-dark: #0D3049 !default;
$white: #ffffff !default;
$yellow: #F1CB3B !default;
$text: #333333 !default;
$grey: #606060 !default;
$text-dark: #1A1A1A !default;
$dark: #020612 !default;
$text-light: #B0AFAF !important;
