// Colors
$grey:          #333333 !default;
$grey-light:    #F3F3F3 !default;
$grey-dark:     #1A1A1A !default;
$grey-dark-2:   #202020 !default;
$blue:          #21334A !default;
$blue-dark:     #0D3049 !default;
$white:         #ffffff !default;
$black:         #000000 !default;
$yellow:        #F1CB3B !default;
$blue-light:    #052D47 !default;
$blue-light-2:  #0D2F49 !default;
$linkedin:      #0476BD !default;
$twitter:       #00A2E9 !default;
$email:         #0476BD !default;
$facebook:      #155999 !default;

$text-dark: #1A1A1A !default;
$dark: #020612 !default;
$text-light: #B0AFAF !important;

$text:       #000000 !default;
