@import "_variables";
@import "_fonts";

.text-grey {
  color: $grey !important;
}
.text-grey-dark {
  color: $grey-dark !important;
}
.text-grey-light {
  color: $grey-light !important;
}
.text-blue {
  color: $blue !important;
}
.text-blue-light {
  color: $blue-light !important;
}

.section-title {
  color: $blue;
  font-size: 30px;
  font-weight: bold;
  &.mini {
    font-size: 30px;
  }
}

.section-text {
  color: $grey;
  font-size: 15px;
  @media (min-width: 768px) {
    font-size: 15px;
  }
}

.nav-tabs {
  .nav-item {
    margin-bottom: 0px !important;
    font-family: 'Montserrat Regular';
    font-weight: bold;
    color: $grey-light;
    opacity: 0.5;
    border-color: transparent !important;
    &:hover {
      border-color: transparent !important;
    }
    &.nav-item-country {
      height: 37px;
      padding: 0.5rem;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      border: 1px solid $grey !important;
      opacity: 0.5;
      &:hover {
        border: 1px dashed $grey !important;
      }
      &.active {
        border-color: transparent !important;
        background-color: $blue;
        color: $white !important;
        opacity: 1;
      }
      @media (min-width: 480px) {
        width: 80px;
        text-align: center;
      }
    }
    &.active {
      border: none;
      color: $blue-dark !important;
      border-bottom: 6px solid $yellow !important;
      opacity: 1;
    }
  }
}

.map {
  width: 100%;
}

.dataTables_wrapper {
  .dataTables_paginate {
    .paginate_button {
      font-family: 'Montserrat Medium' !important;
      color: $blue !important;
      opacity: 0.5;
      &.next,
      &.previous,
      &.current {
        opacity: 1;
        font-weight: bold;
      }
      &.current,
      &:active,
      &:hover {
        border: 1px solid transparent !important;
        background: transparent !important;
      }
      &:hover {
        color: $blue !important;
      }
    }
  }
  .dataTables_filter {
    width: 100%;
    @media (min-width: 992px) {
      width: 60%;
    }
    label {
      width: 100%;
      input {
        margin-left: 0px !important;
        width: 100%;
        border: none;
        padding: 10px 20px;
        background-color: lighten($grey, 75%) !important;
      }
    }
  }
}

#news_wrapper {
  background-color: lighten($grey, 75%) !important;
  padding: 30px !important;
  .dataTables_filter {
    width: 100% !important;
    label {
      width: 100% !important;
      input {
        width: 100% !important;
        background-color: $white !important;
      }
    }
  }
}

table#news.dataTable {
  tbody {
    tr {
      td {
        border-bottom: 1px solid lighten($grey, 40%);
      }
    }
  }
}

table {
  &.dataTable {
    &.no-footer {
      border: none !important;
    }
    tbody {
      tr {
        background-color: transparent !important;
      }
    }
  }
}

.post-date {
  background-color: $yellow;
  right: 15px;
  color: $grey-dark;
  width: 50px;
  height: 50px;
  line-height: 17px;
  &.big {
    width: 70px;
    height: 70px;
  }
}

.hide-show-more {
  .more-link {
    display: none;
  }
  ._content:after {
    content: '...';
  }
}

.bg-light-custom {
  background-color: lighten($grey, 75%) !important;
}

.btn {
  font-weight: 300;
  font-size: 18px;
  &.btn-main-slider {
    width: 63% !important;
    @media (min-width: 768px) {
      width: 185px !important;
    }
    &.btn-get-started {
      width: 83% !important;
      height: 75px;
      font-size: 28px;
      @media (min-width: 768px) {
        width: 200px !important;
        height: initial;
        font-size: initial;
      }
    }
  }
  &.btn-warning {
    background-color: $yellow;
  }
}

.container {
  @media (min-width: 768px) {
    max-width: 962px !important;
  }
  @media (min-width: 992px) {
    max-width: 1170px !important;
  }
  @media (min-width: 1200px) {
    max-width: 1440px !important;
  }
  @media (min-width: 1470px) {
    max-width: 1600px !important;
  }
}

.main-slider-title {
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 10px;
  @media (min-width: 768px) {
    font-size: 80px;
  }
  &.page {
    letter-spacing: normal;
  }
}

.footer {
  background-color: $blue;
  .footer-menu {
    background-color: transparent !important;
    font-family: 'Montserrat Light';
    color: $white !important;
    font-size: 13px !important;
    border: none !important;
    padding-left: 0.1rem !important;
    padding-right: 0.1rem !important;
    &:first-child {
      font-family: 'Montserrat Medium';
      text-transform: uppercase;
    }
  }
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid lighten($grey, 75%);
  border-radius: 5px;
}

.partners-indicators {
  top: 310px;
  bottom: auto !important;
}

.masthead {
  height: 100vh;
  padding-top: 0px;
  padding-bottom: 0px;
  background: no-repeat center center scroll;
  background-size: cover;
  &.masthead-part {
    height: 60vh;
    @media (min-width: 768px) {
      height: 100vh;
    }
  }
  .masthead-bg {
    width: 100%;
    color: $white;
  }
}

.carousel-item {
  &.h100vh300 {
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}
.carousel-indicators {
  li {
    width: 10px !important;
    height: 10px !important;
    margin-right: 10px !important;
    margin-left: 10px !important;
    border-radius: 100%;
    border: 1px solid $white;
    background-color: rgba(255, 255, 255, 0) !important;
    &.active {
      background-color: $white !important;
    }
  }
  &.blue {
    li {
      border: 1px solid $blue;
      &.active {
        background-color: $blue !important;
      }
    }
  }
}
.navbar-toggler {
  border: none !important;
}

.navbar {
  transition: all 0.1s ease-out;
  .navbar-brand {
    img {
      height: 36px;
    }
  }
  .logo {
    display: block;
  }
  .logo_toggle {
    display: none;
  }
  &.affix {
    background-color: $white;
    .logo {
      display: none;
    }
    .logo_toggle {
      display: block;
    }
  }
  .navbar-nav {
    li {
      a {
        font-weight: 600;
        padding-top: 1rem;
        padding-bottom: 1rem;
        text-transform: uppercase;
      }
      &:first-child {
        // padding-top: 1.5rem;
      }
    }
  }
}

.partner-img {
  transition: all .5s ease-out;
  filter: grayscale(100%);
  &:hover,
  &.active {
    filter: grayscale(0%);
  }
}

.page-wrapper-up {
  background-color: $white;
  @media (min-width: 768px) {
    top: -150px;
  }
}

.about-us-form {
  @media (min-width: 576px) {
    width: 70%;
  }
}

.o-50 {
  opacity: 0.5;
}

.navigation-pull-left {
  float: left !important;
}

















// =====================================================================
// =====================================================================
// =====================================================================















.text-blue-dark {
  color: $blue-dark !important;
}
.text-text-dark {
  color: $text-dark !important;
}
.text-text {
  color: $text !important;
}
.text-linkedin {
  color: $linkedin !important;
}
.text-blue-light-2 {
  color: $blue-light-2 !important;
}






.news-mini {
  font-size: 14px;
}
















.news-wrapper {
  padding: 35px !important;
}

.news-text {
  font-family: 'Lato Light';
  font-size: 22px;
  &.mini {
    font-size: 16px;
  }
}

.linkedin,
.twitter,
.email,
.facebook {
  a {
    margin-left: 20px;
    img {
      width: 30px;
    }
  }
}




.page-section-title,
.partner-name,
.partner-position,
.partner-description {
  font-weight: bold;
  color: $blue-dark;
  font-size: 40px;
}
// .partner-form-title {
//   font-size: 33px;
//   &+.partner-form-description {
//     font-size: 18px;
//     font-weight: normal;
//     font-family: 'Montserrat Light';
//   }
// }

.partner-wrapper {
  padding: 30px 20px;
  background-color: lighten($grey, 75%);
  border-radius: 10px;
  // .partner-name {
  //   font-size: 18px;
  //   &+.partner-position {
  //     font-weight: normal;
  //     font-size: 12px;
  //     text-transform: uppercase;
  //     font-style: italic;
  //     &+.partner-description {
  //       font-weight: normal;
  //       font-size: 16px;
  //       color: $text;
  //     }
  //   }
  // }
}
.mt-70 {
  margin-top: 70px;
}
.ml-13-5 {
  margin-left: 13.5%;
}
.mr-13-5 {
  margin-left: 83.5%;
}



.page-feature-title {
  font-size: 16px;
  color: $blue-dark;
}
.page-feature-text {
  font-family: 'Lato Light';
  font-size: 16px;
  color: $text;
}


.rights {
  color: $white;
  font-size: 18px;
  font-family: 'Lato Light';
}
.content-nav-graph {
  margin-bottom: 10px;
  width: 100%;
  .nav-graph-link {
    color: #000;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    text-decoration: none;
    width: 100%;
    &:hover{
      background-color: $grey-light;
      box-shadow: 2px 2px 5px #888888
    }
    img{
      width: 15%;
      height: 15%;
    }
    p{
      margin: auto 0;
    }
  }
}
.card{
  border: none!important;
  .heading{
    border-top: none!important;
    border-bottom: none!important;
    border-right: none!important;
    border-left: 3px solid $yellow;
    a{
      color: #000;
      text-decoration: none;
      width: 100%;
      display: flex;
      text-decoration: none;
      border: none;
      &:hover{
        background-color: $grey-light;
        box-shadow: 2px 2px 5px #888888;
      }
      &.active {
        background-color: $grey-light;
        box-shadow: 2px 2px 5px #888888
      }
      img{
        width: 7%;
        height: 7%;
      }
      p{
        margin: auto 0;
      }
    }
  }
  .text-body{
    border-left: 3px solid $yellow;
  }
}
.wuo-img {
  text-align: center;
  img {
    width: 100%;
  }
}
.tab-content{
  .page-feature-text{
    letter-spacing: 1.5px;
  }
}
@media (max-width: 480px) {
  .tab-content{
    text-align: center;
  }
}
@media (max-width: 768px) {
  .tab-content{
    text-align: center;
  }
}
